<div class="container">
  <h3>test</h3>
  <form id='sign_in' method='post' action='/sign_in'>
    <input type='text' name='player1' placeholder='Player 1'>
    <input type='text' name='player2' placeholder='Player 2'>
    <input type='integer' name='board_length' placeholder='Enter Board Length'>
    <input type='submit' value='Start!'>
  </form>

  <!-- <form id='add_players'>
    <input type='submit' value='Add Player!'>
  </form> -->
</div>
